{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'flex-direction-column d-flex h-100',
    'card-custom ticket',
    'no-shadow',
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="card-content">
    <h2 class="textcolor-c">{{ product.title }}<h2><h1 class="textcolor-d">{{ product.variation_price }}</h1>
    <h4 class="subtitle textcolor-c">{{ product.body.0 }}</h4>
  </div>
  <div class="position-bottom">
    {{- product.variations -}}
    {# {{- product|without('variation_attributes') -}} #}
  </div>
</article>
