<div{{ attributes}}>
  <div class="cart-block--summary">
    <a class="cart-block--link__expand textcolor-d" href="{{ url }}">
    <i class="la las la-2x la-shopping-cart" data-count="{{ count }}"></i>
    </a>
  </div>
  {% if content %}
  <div class="cart-block--contents">
    <div class="cart-block--contents__inner">
      <div class="cart-block--contents__items">
        {{ content }}
      </div>
      <div class="cart-block--contents__links text-center">
        <button class="btn btn-primary" href="/cart">{{ 'Go to shopping cart'|t }}</a>
      </div>
    </div>
  </div>
  {% endif %}
</div>
